连接数据库，直接sql语句

In [1]:
import pymysql
db=pymysql.connect('localhost','root','KAYLEE','Sven')
cursor=db.cursor()

sql="""insert into secret(Web,
        username, secret, mail)
     values ('Aliyun','120.27.250.172:8888','Svenkaylee0623','')"""
###执行sql语句，添加数据等
try:
    cursor.execute(sql)
    db.commit()
except:
    db.rollback()

db.close()

将本地数据存储在mysql

In [1]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:KAYLEE@localhost/sven?charset=utf8")
data=pd.read_csv('C:/Users/Sven/Desktop/secret.csv')
data.to_sql(name = 'secret',con = engine,if_exists = 'replace',index = False,index_label = False)

C:\Users\Sven\Anaconda3\envs\study\lib\site-packages\pymysql\cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)
C:\Users\Sven\Anaconda3\envs\study\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 1")
  result = self._query(query)

在Mysql下download数据

In [2]:
import pandas as pd
import pymysql
dbconn=pymysql.connect(
  host="localhost",
  database="sven",
  user="root",
  password="KAYLEE",
  port=3306,
  charset='utf8'
 )
sqlcmd='select * from secret'
data=pd.read_sql(sqlcmd,dbconn)
#data.to_csv('C:/Users/Sven/Desktop/secret.csv',index=False)

In [3]:
data

,Web,username,secret,mail
0,CFA,8483214,1456808998Qq,chenliujun0556@163.com
1,IELTS,50707276,Chenliujun0556,chenliujun0556@163.com
2,TOEFL,8677397,svenkaylee@0623,chenliujun0556@163.com
3,wordpress,None,chenliujun0556,chenliujun0556@163.com
4,Oracle,chenliujun0556,1456808998Qq,chenliujun0556@163.com
5,MySQL,root,KAYLEE,None
6,MySQL,sven,kaylee,None
7,Github,sven1996,chenliujun0556,chenliujun0556@163.com
8,Microsoft,sven,1456808998qq,chenliujun0556@163.com
9,JetBrain,17210690007,1456808998@qq,19110690005@fudan.edu.cn
10,Gurobi,None,chenliujun0556,19110690005@fudan.edu.cn
11,Remote-jupyter,http://120.27.250.172:8888,kaylee,None
12,Aliyun,120.27.250.172,Svenkaylee0623,None